<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: pageTitle}); %>

  <body>
    <%- include('partials/header', {categories: categories}); %>

    <!--Choose category-->
    <div class="container-fluid text-center">
      <div class="row text-center">
        <img src="images/main.png" class="card-img" alt="img" />
      </div>
      <div class="">
        <h3 class="mt-3 text-body-secondary">Wellcome to our store!</h3>
        <h5 class="text-body-secondary">Choose category to start shopping</h5>
      </div>
      <div class="card-body mb-4 mt-4">
        <% categories.forEach(category => { %>
        <li class="btn btn-outline-secondary">
          <a href="/<%=category.id%>" class="nav-link"> <%=category.name%> </a>
        </li>
        <% }); %>
      </div>
    </div>
    <%- include('partials/footer', {title: pageTitle}); %>
  </body>
</html>
