<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: pageTitle}); %>
  <body>
    <div class="container mt-5">
      <h2>Sign up</h2>
      <% if (errorMessage) { %>

      <div class="alert alert-danger" role="alert"><%= errorMessage %></div>

      <% } %>
      <form method="post" action="/auth/signup">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
            autocomplete="name"
            value="<%= inputValues && inputValues.name ? inputValues.name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            autocomplete="age"
            required
            value="<%= inputValues && inputValues.age ? inputValues.age : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            pattern="[789][0-9]{9}"
            name="phone"
            required
            value="<%= inputValues && inputValues.phone ? inputValues.phone : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            autocomplete="email"
            required
            value="<%= inputValues && inputValues.email ? inputValues.email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            autocomplete="current-password"
            required
          />
        </div>
        <button type="submit" class="btn btn-outline-secondary">Sign up</button>
      </form>
    </div>
  </body>
</html>
